h1{
    font-size: 1.5rem;
}
h2{
    margin-top: .3rem;
    cursor: pointer;
    color: var(--red);
    width: fit-content;
}
h2:hover{
    margin-top: .3rem;
    cursor: pointer;
    color: var(--dark-red)
}
.agenda-turnos-fecha{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.agenda-turnos-fecha svg{
    height: 1.3rem;
    margin-left: .7rem;
    cursor: pointer;
}
.agenda-turnos-fecha svg:hover{
    fill: var(--primario);
}
.agenda-turnos{
    margin-top: 2rem;
    height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: .5rem;
    width: fit-content;
    min-width: 50rem;
}
.agenda-turnos .horario-turno{
    display: flex;
    background-color: var(--secundario);
    padding: 1rem;
    border-bottom: solid;
    border-width: 2px;
    border-color:  var(--white);
    cursor: pointer;
}
.agenda-turnos .horario-turno:hover{
    background-color: var(--dark-gray);
}
.agenda-turnos .turno-disponible{
    background-color: var(--green);
}
.agenda-turnos .turno-disponible:hover{
    background-color: var(--dark-green);
}
.agenda-turnos .horario-turno .agenda-turno-hora{
   font-weight: bold;
   margin-right: 1rem;
   width: 3rem;
}
.agenda-turnos .horario-turno .agenda-turno-banera{
    margin-right: 1rem;
    width: 1.5rem;
}
.agenda-turnos .horario-turno .agenda-turno-mascota{
    margin-right: 1rem;
    width: 8rem;
}
.agenda-turnos .horario-turno .agenda-turno-servicio{
    margin-right: 1rem;
    width: 7rem;
}
.agenda-turnos .horario-turno .agenda-turno-tamano{
    margin-right: 1rem;
    width: 4.5rem;
}
.agenda-turnos .horario-turno .agenda-turno-obs-mascota{
    margin-right: 1rem;
    width: 20rem;
}
.agenda-turnos .horario-turno .agenda-turno-obs-turno{
    margin-right: 1rem;
    width: 20rem;
}
.agenda-turnos .separador-mediodia{
    background-color: var(--red);
    height: 2px;
    width: 100%;
}
#agenda-turnos-input-calendario{
    width: 1rem;
    margin-left: -1rem;
    visibility: hidden;
}
/* .swal2-title{
    width: 100%;
} */