@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

/*VAR*/
:root {
    --dark-gray: #797979;
    --light-gray: #ededed;
    --primary-color: #51181d;
    --primary-color-dark: #391014;
    --black: #333;
    --white: #fff;
}

/*END VAR*/

/*GENERAL*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*FIN GENERAL*/

/*HEADER*/
header {
    padding: 1rem;
    box-shadow: 0px 6px 9px -4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 6px 9px -4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 6px 9px -4px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
header svg{
    height: 2rem;
    fill: var(--primary-color);
    margin-right: 1rem;
}
header a img {
    margin-right: 1rem;
    border-radius: 100%;
    height: 5rem;
    width: 5rem;
    object-fit: cover;
}
.header-title h1 {
    font-size: 1.4rem;
    color: var(--primary-color);
}

.header-title h2 {
    font-size: .6rem;
    text-transform: uppercase;
    color: var(--primary-color-dark);
}

/*END HEADER*/

/*HERO NEWS*/
.hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 8rem;
}

#noticias {
    display: flex;
    transition: transform 0.5s ease-in-out;
    align-items: center;
    padding: 2rem;
}

.noticia {
    box-shadow: 0px 14px 24px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 14px 24px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 14px 24px 2px rgba(0, 0, 0, 0.3);
    flex: 0 0 100%;
    margin: auto 2rem;
    border-radius: .3rem;
}
.noticia:first-child{
    margin-left: 0rem;
}

.noticia img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
    border-radius: .3rem .3rem 0 0;
}

.hero-news-body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 20rem;
}

.hero-news-body h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--primary-color);
}

.hero-news-body p {
    font-weight: lighter;
}

.hero-news-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-size: .8rem;
    font-weight: lighter;
}

.hero-news-info a {
    color: var(--primary-color);
}

#indicadores {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

.indicador {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #888;
    margin: 0 5px;
    cursor: pointer;
}

.activo {
    background-color: #333;
}

/*END HERO NEWS*/

/*OBRA SOCIAL*/
.banner{
    padding:1rem;
    margin: 3rem auto;
    height: 25rem;
    width: 100%;
}
.obra-social{
    height: 100%;
    width: 100%;
    background-color: #6b8ba2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}
.obra-social img{
    height: 8rem;
    border-radius: 100%;
}
.obra-social h3{
    color: var(--white);
    margin-top: 2rem;
    text-align: center;
    font-weight: normal;
}
.obra-social h4{
    color: var(--white);
    margin-top: 1rem;
    text-align: center;
}
/*END OBRA SOCIAL*/

/*DIRIGENTES SECTION*/
.dirigentes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.dirigentes-container-title {
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
    border-top: solid;
    border-bottom: solid;
    border-color: var(--light-gray);
    border-width: 2px;
}

.dirigentes-container-dobles {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dirigente {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
}

.dirigente-img {
    background-image: url("https://placehold.co/100x100");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
}

.dirigente h4 {
    font-size: .9rem;
    margin-top: .5rem;
    color: var(--primary-color);
}

.dirigente p {
    font-size: .8rem;
    font-weight: lighter;
}
.secretario-general{
    background-image: url("https://www.shutterstock.com/shutterstock/photos/1926074168/display_1500/stock-photo-profile-picture-of-young-caucasian-confident-woman-employee-or-worker-pose-at-workplace-in-office-1926074168.jpg");
}
/*END DIRIGENTES SECTION*/

/*ULTIMAS NOTICIAS*/
.ultimas-noticias{
    padding: 1rem;
}
.ultimas-noticias-container{
    padding: 1rem;
}
.ultimas-noticias-title{
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
    border-top: solid;
    border-bottom: solid;
    border-color: var(--light-gray);
    border-width: 2px;
}
.news{
    box-shadow: 0px 14px 24px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 14px 24px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 14px 24px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
}
.news-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 15rem;
    width: 100%;
    display: flex;
    align-items: end;
}
.news-img p{
    font-size: .7rem;
    padding: .5rem .8rem;
    font-weight: bold;
    color: var(--white);
    background-color:var(--primary-color)
}
.news h3{
    padding: 2rem 1rem;
}
.ultimas-noticias-botonera{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;
}
.ultimas-noticias-botonera button{
    height: 2rem;
    width: 2rem;
    margin: .2rem;
    background: transparent;
    border:solid;
    border-width: 1px;
    border-radius: .3rem;
    border-color: var(--dark-gray);
    color: var(--dark-gray);
    cursor: pointer;
}
.ultimas-noticias-botonera button:hover{
    background-color: var(--primary-color);
    color: var(--light-gray);
}
/*END ULTIMAS NOTICIAS*/

/*FOOTER*/
footer {
    background-color: var(--primary-color);
    padding: 1rem;
}

.footer-logo a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 1rem;
    border-bottom: solid;
    border-width: 2px;
    border-color: var(--primary-color-dark)
}

.footer-logo a img {
    margin-right: 1rem;
    border-radius: 100%;
    height: 5rem;
}

.footer-logo-title h5 {
    font-size: 1rem;
    color: var(--white);
}

.footer-logo-title h6 {
    font-size: .5rem;
    text-transform: uppercase;
    color: var(--white);
}

.footer-mapa {
    width: 100%;
    height: 20rem;
    border-radius: .3rem;
    margin: 2rem auto;
}
.footer-info {
    margin-top: 2rem;
}

.footer-info-box p {
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    font-size: .9rem;
    margin: 1.3rem auto.3rem;
}

.footer-info-box span {
    color: var(--white);
    font-weight: normal;
    font-size: .9rem;
}

.footer-info-redes p {
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    font-size: .9rem;
    margin: 1.3rem auto.3rem;
}

.footer-info-redes div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-info-redes div svg {
    background-color: var(--white);
    padding: .5rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    cursor: pointer;
    margin: .3rem .5rem 0 0;
    fill: var(--primary-color)
}
.creditos{
    border-top: solid;
    border-width: 2px;
    border-color: var(--primary-color-dark);
    padding: 1rem;
    text-align: center;
    font-size: .8rem;
}
.creditos p, .creditos p a{
    color: var(--white)
}
/*END FOOTER*/